body {
  font-family: sans-serif;
}

.highlight {
  background-color: yellow;
}

span.highlight {
  background-color: yellow;
}

h1.highlight {
    background-color: pink;
}

.notebox {
  border: 4px solid #666666;
  padding: 0.5em;
  margin: 0.5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  font-weight: bold;
}

#one {
  background-color: yellow;
}

h1#heading {
  color: rebeccapurple;
}



